In [21]:
import pymysql
import random
import string

In [22]:
_db = pymysql.connect(        
        host = 'localhost',
        user ='root',
        password = 'user',
        db = 'os',
        port = 3306    
)
cursor = _db.cursor(pymysql.cursors.DictCursor)

In [23]:
letter_set = string.ascii_lowercase
letter_set

'abcdefghijklmnopqrstuvwxyz'

In [24]:
name_list = []
for i in range(50):
    random_data = random.sample(letter_set,5)
    data="".join(random_data)
    if data not in name_list:
        name_list.append(data)
    if len(name_list)==50:
        break

In [25]:
len(name_list)

50

In [26]:
addr = ['강북','강남','강서','강동',]
addr_list = []
for i in range(50):
    data=random.choice(addr)
    addr_list.append(data)

In [27]:
len(addr_list)

50

In [28]:
cate =[0,1,2]
cate_list = []
for i in range(50):
    data=random.choice(cate)
    cate_list.append(data)

In [29]:
letter_set2 = '1234567890'
tel_list = []
for i in range(50):
    random_data1 = random.sample(letter_set2, 4)
    random_data2 = random.sample(letter_set2, 4)
    data1="".join(random_data1)
    data2="".join(random_data2)
    data='010-'+data1+'-'+data2
    tel_list.append(data)

In [30]:
tel_list

['010-3726-4603',
 '010-7593-0215',
 '010-7104-1859',
 '010-5742-1572',
 '010-6014-3745',
 '010-6932-5980',
 '010-0285-2835',
 '010-1670-0832',
 '010-6375-2958',
 '010-8534-3456',
 '010-7638-0412',
 '010-1340-2504',
 '010-8325-9582',
 '010-6245-6320',
 '010-7528-7165',
 '010-7690-5806',
 '010-8152-5986',
 '010-0956-2687',
 '010-7830-2816',
 '010-0872-2874',
 '010-2468-3167',
 '010-4953-5270',
 '010-0435-7361',
 '010-6389-5639',
 '010-2714-0127',
 '010-6152-0259',
 '010-8402-9562',
 '010-3678-0975',
 '010-1240-2639',
 '010-6183-0784',
 '010-1869-7596',
 '010-3621-2609',
 '010-5964-0758',
 '010-3926-0453',
 '010-2017-7908',
 '010-5290-7190',
 '010-1097-7601',
 '010-8964-3907',
 '010-5270-3172',
 '010-3469-1520',
 '010-4106-1237',
 '010-3975-0349',
 '010-4798-3795',
 '010-2573-7256',
 '010-1645-7840',
 '010-9273-4790',
 '010-8154-7103',
 '010-2468-4765',
 '010-2690-9765',
 '010-4137-8163']

In [32]:
sql = """
    INSERT 
    INTO 
    studio
    VALUES
    (%s, %s, %s, %s)
"""

for i in range(50):
    value = [name_list[i],addr_list[i],tel_list[i],cate_list[i]]
    cursor.execute(sql,value)

_db.commit()